<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Mongo Scraper</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/saved">Saved Articles</a>
                </li>
                <li>
                    <button type="button" class="btn btn-primary" id="scrape">Scrape Articles</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="col-md-12 jumbotron">
        <div class="text-center">
            <h1>Mongo Scraper</h1>
            <h2>New York Times Edition</h2>
        </div>

    </div>
    <div class="col-md-12">
        {{#if article}} {{#each article}}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><a href="/articles/{{this._id}}">{{this.title}}</a></h4>
            </div>
            <div class="panel-body">
                <p> {{this.summary}}</p>
                <a href={{this.link}} target="_blank">{{this.link}}</a>
                <br>
                <br>
                <button type="button" class="btn btn-success save" data-id={{this._id}}>Save Article</button>
            </div>
        </div>
        {{/each}} {{else}}
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Uh Oh. Looks like we don't have any new articles.</h4>
            </div>
        </div>
        {{/if}}
    </div>
</div>